DATABASE_URL=postgres://user:password@localhost:5432/dbname
PG_PROXY_PASSWORD=password
AUTH_JWT_KEY="
-----BEGIN PUBLIC KEY-----
XXXXXXXXXXX
-----END PUBLIC KEY-----
"
ELECTRIC_SERVICE_URL=http://localhost:5133